
@{
    ViewBag.Title = "Grades";
}

<h2>Grades</h2>
@using (Html.BeginForm("Index", "Grades", FormMethod.Post))
{
    @Html.Label("Test 1:  ")
    @Html.TextBox("test1", null, new { @class = "textbox", type = "number", min = 0, max = 100 })
    <br />
    @Html.Label("Test 2:  ")
    @Html.TextBox("test2", null, new { @class = "textbox", type = "number", min = 0, max = 100 })
    <br />
    @Html.Label("Test 3:  ")
    @Html.TextBox("test3", null, new { @class = "textbox", type = "number", min = 0, max = 100 })
    <br /><br />
    <input type="submit" value="Submit" />
}


@*<form action="Index" method="post">
        Enter your grades for tests:
        <br />
        Test 1: <input type="number" name="test1" id="test1" min="0" max="100" value="@ViewBag.test1"/>
        <br />
        Test 2: <input type="number" name="test2" id="test2" min="0" max="100" value="@ViewBag.test2"/>
        <br />
        Test 3: <input type="number" name="test3" id="test3" min="0" max="100" value="@ViewBag.test3"/>
        <br /><br />
        <input type="submit" value="Calculate" />
    </form>*@
<br />
<!--Attempts for the bonus
    <button name="add" id="add">Add</button>
    <button name="remove" id="remove">Remove</button>-->
<br />

@ViewBag.average

@if (@ViewBag.letter == 'A' || @ViewBag.letter == 'B')
{
    <font color="green">@ViewBag.letter</font>
}
@if (@ViewBag.letter == 'C')
{
    <font color="yellow">@ViewBag.letter</font>
}
@if (@ViewBag.letter == 'D' || @ViewBag.letter == 'E')
{
    <font color="red">@ViewBag.letter</font>
}
